<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<style>
		body, html {
		height: 100%;
		}
		.bg {
		background-image: url('static/lala.jpg');
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		}
		</style>
		<title>InfoRut</title>
	</head>
	<body class="bg">
		<div class="container"><br><br>
		<div class="container">
			<table class="table table-dark">
				<thead>
					<tr>
						<th scope="col">Datos de la persona</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Nombre:</th>
						<td>{{nombre}}</td>
					</tr>
					<tr>
						<th scope="row">Rut:</th>
						<td>{{rut}}</td>
					</tr>
					<tr>
						<th scope="row">Sexo:</th>
						<td>{{sexo}}</td>
					</tr>
					<tr>
						<th scope="row">Comuna:</th>
						<td>{{comuna}}</td>
					</tr>
					<tr>
						<th scope="row">Domicilio:</th>
						<td>{{domicilio}}</td>
					</tr>
					<tr>
						<th scope="row">Pais:</th>
						<td>{{pais}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		<!-- <h1>Info:</h1> -->
		<br>
		<br>

			<center><a href="/">Back Home</a></center>

	</body>
</html>